* {
    box-sizing: border-box;
    margin: auto;
}

body {
    margin: 3% 0px 5% 25%;
    font-family: serif;
    font-size: 20px;
    border: 1px solid gray;
    max-width: 50%;
    padding: 20px;

}

div {
    margin-bottom: 20px;
}

.subtitle {
    margin-bottom: 15px;
}

#title h1, p {
    margin-bottom: 15px;
}

#title p, #studies p, #data {
    line-height: 45px;
    margin-top: 10px;
}

img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 15px;
}

#imageResume {
    width: 175px;
}


#address ol, #address li {
    list-style-type: none;
}

#experience ol, #experience li {
    list-style-type: none;
}

.ifpb {
    font-size: 25px;
    font-weight: bold;
}

#return {
    margin: auto;
}

#returnImage {
    width: 50px;
}